/* Section One */ 
@font-face {
    src: url(/fonts/NetflixSans-Regular.otf );
    font-family:"NetflixFont";  /*Font for the body*/

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    font-family: "NetflixFont";
    background-color: #141414;
    color: #FFFFFF; 
} 


.SectionOne_Container {
     height: 660px;  
}


#banner__title{
    font-size:80px;
    font-weight: 700;
    position: relative;
    top:250px;
    left: -45px;
}
.MovieDescription_Container{
    width:400px; 
    text-align: justify;
    position: relative;
    left:65px;
    top:170px;
}
#banner__description{
    font-size:20px;
    font-weight: 300;
}
#banner__title:hover{
    font-weight: 900;
    font-style: italic;
}



/*Navigation*/
.LogoImage{
    max-height: 100px;
    max-width: 100px;
    float: left;
    position: relative; 
    top:-5px;
    left:10px;
}

.nav1 ul{
    position: relative;
    top:20px;
    text-align:left;
}

.nav1 li{ 
    display: inline; 
    padding: 10px 12px;
}

.nav1 li:hover{
    font-weight: 700;
}

.nav_Image{
    max-height: 35px;
    max-width:40px;
    border-radius: 5px;
    padding-right: 20px;

}

.nav_Image_Search{
    max-height: 25px;
    max-width:30px;
    margin-left: 400px;
    /* border-radius: 5px;*/
    /* padding-left: 60px;  */

}

.nav_Image_Dropdown{
    max-height: 10px;
    max-width: 10px;
    position: relative; 
    top:-5px;
}

.PlayIcon{
    max-height: 15px;
    max-width: 20px;
    margin-right: 10px;
}


.PlayButton{
    margin-left: 60px;
    margin-right:15px;
    min-width:150px;
    padding: 15px;
    font-weight: 600;
    font-size: 15px;
    width: 100px;
    border-radius: 6px;
    border: none;
    margin-top: 200px;
}

.MoreInfoButton{
    background-color: rgb(124, 123, 127);
    min-width:150px;
    color: #FFFFFF;
    padding: 15px;
    font-weight: 500;
    font-size: 15px;
    width: 130px;
    border-radius: 6px;
    border: none;
    margin-top: -60px;
}
.PlayButton:hover{
    background-color: rgb(118, 204, 175);
}

.MoreInfoButtom:hover{
    background-color: rgb(118, 204, 175);
}

.AudioPortion{
    display: flex;
    float: right;
  }
  
.AudioPortion img {
    padding: 0px;
    border-radius: 50%;
    border: 3px solid white;
    float:right;
    display: block;
    width: 25px;
    height: 25px;
    background-color: white;
    opacity: 0.6;
    position: relative;
    right:5px;
  }
  
.AudioPortion p {
    padding-right: 45px;
    height:35px;
    position: relative;
    bottom:80px;
    border-left: 3.5px solid rgb(199, 199, 199);
    background-color: rgb(62, 62, 62, 0.5);
    color: white;
    font-size: 18px;
  }

.MovieSubtitles{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    box-shadow: #141414 10px;
    color: #F1F1F1;
    position: relative;
    top:-20px;
}



.SuspensfulTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.AdventureTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
  
}
.AnimationTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.ComedyTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.CrimeTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}


.DocumentaryTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.DramaTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}


.FamilyTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}


.FantasyTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}


.HistoryTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.HorrorTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.MusicTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.MysteryTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}


.RomanceTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.ScienceFictionTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.TVMovieTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.ThrillerTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.WarTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}

.WesternTVShows{
    margin-left: 30px;
    display:flex; 
    flex-direction: row;
}


p{
    margin-left: 0px;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 600; 
}


.Image1{
    padding:10px;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin-right: 3px;
    margin-top: 130px;
    
}


.Image1:hover{
    transform: scale(1.15);
}





